<style>
:root {
    --primary-color: #ff6600; /* Naranja */
    --secondary-color: #ffffff; /* Blanco */
    --highlight-color: #ff9900; /* Un tono más claro de naranja para destacar */
    --background-color: #f7f7f7; /* Un gris claro para el fondo */
    --card-body-background: #e0e0e0; /* Gris claro para el fondo de las tarjetas */
}

/* Encabezado */
header.bg-primary {
    background-color: var(--primary-color) !important;
}
header.text-white {
    color: var(--secondary-color) !important;
}

/* Botones */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-secondary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-secondary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Paneles */
.card-header.bg-primary {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}
.card-header.bg-info, .card-header.bg-success, .card-header.bg-warning {
    background-color: var(--highlight-color) !important;
    color: var(--secondary-color) !important;
}
.card-body {
    background-color: var(--card-body-background) !important;
}

/* Fondo */
body {
    background-color: var(--background-color);
}

/* Otros estilos */
.text-primary {
    color: var(--primary-color) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}

/* Estilo para el primer card */
.card-white {
    background-color: var(--secondary-color) !important; /* Fondo blanco */
}

.card-title-orange {
    color: var(--primary-color); /* Color naranja */
}

</style>
<body class="d-flex justify-content-center align-items-center vh-100">

<h3 class="card-title text-center mb-4 card-title-orange">Andina Trading - Trading Contracts</h3>
<div class="container mt-5">
        <!-- Back Button -->
        <div class="text-start mb-3">
            <a href="/" class="btn btn-secondary w-100">Back</a>
        </div>

        <div class="row">
            <!-- Panel for Selecting Trading Contracts -->
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="card-header bg-info text-white text-center">
                        Select Trading Contract
                    </div>
                    <div class="card-body">
                        <form action="/api/fithmodule/select/{{data.user.id}}" method="POST">
                            <div class="mb-3">
                                <label for="tradingContracts" class="form-label">Elige un trato de negociacion</label>
                                <select class="form-select" id="tradingContracts" name="contract" required>
                                    <option selected disabled>Selecciona una contrato</option>
                                    {{#each data.tradingcontracts}}
                                        <option value="{{id}}">{{expirationDate}} - {{type}} (Cantidad: {{amount}})</option>
                                    {{/each}}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Send</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Panel for Trading Contracts History (Dropdown List) -->
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="card-header bg-success text-white text-center">
                        Trading Contracts History
                    </div>
                    <div class="card-body">
                        <form action="/api/fithmodule/selecthistory/{{data.user.id}}" method="POST">
                            <div class="mb-3">
                                <label for="historyContracts" class="form-label">Select Contract from History</label>
                                <select class="form-select" id="historyContracts" name="historycon" required>
                                    <option selected disabled>Select a contract</option>
                                    {{#each data.historyContracts}}
                                        <option value="{{id}}">{{expirationDate}} - {{type}} (Cantidad: {{amount}}) - {{isAccepted}} </option>
                                    {{/each}}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">View History</button>
                        </form>
                    </div>
                </div>
            </div>

        {{#if data.selectedContract}}
            <!-- Panel for Information about Selected Trading Contract -->
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="card-header bg-warning text-white text-center">
                        Contract Information
                    </div>
                    <div class="card-body">
                        <form action="/api/fithmodule/confirm/{{data.user.id}}" method="POST">
                            <input type="hidden" name="contractId" value="{{data.selectedContract.id}}">
                            <p><strong>Stock:</strong> {{data.selectedstock.name}}</p>
                            <p><strong>Descripcion del Stock:</strong> {{data.selectedstock.description}}</p>
                            <p><strong>Valor del Stock:</strong> {{data.selectedstock.value}}</p>
                            <p><strong>Compañia:</strong> {{data.selectedstock.company}}</p>
                            <p><strong>Cantidad disponible:</strong> {{data.selectedstock.inStorage}}</p>
                            <p><strong>Fecha de expiración del contrato:</strong> {{data.selectedContract.expirationDate}}</p>
                            <p><strong>Tipo de contrato:</strong> {{data.selectedContract.type}}</p>
                            <p><strong>Cantidad a comprar/vender:</strong> {{data.selectedContract.amount}}</p>
                            <p><strong>Inversor:</strong> {{data.selecteduser.name}}</p>
                            <p><strong>Perfil de Riesgo:</strong> {{data.selecteduser.riskProfile}}</p>
                            <p><strong>Capacidad de inversion:</strong> {{data.selecteduser.investmentCapacity}}</p>
                            <p><strong>Inversor:</strong>{{data.selectedContract.investorDTO.id}}</p>
                            <input type="hidden" name="stockid" value="{{data.selectedContract.stock}}">
                            <input type="hidden" name="amount" value="{{data.selectedContract.amount}}">
                            <input type="hidden" name="type" value="{{data.selectedContract.type}}">
                            <input type="hidden" name="investorid" value="{{data.selectedContract.investorDTO.id}}">

                                <select class="form-select" id="action" name="action" required>
                                    <option selected disabled>Selecciona tu decision</option>
                                    <option value="accept">Aceptar</option>
                                    <option value="deny">Denegar</option>
                                </select>
                            <button type="submit" id="botonEvento" class="btn btn-lg btn-primary w-100 mt-2">Submit Decision</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/if}}

        {{#if data.historyContract}}
            <!-- Panel for Information about Selected Trading Contract -->
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="card-header bg-warning text-white text-center">
                        Contract Information
                    </div>
                    <div class="card-body">
                            <input type="hidden" name="contractId" value="{{data.historyContract.id}}">
                            <p><strong>Stock:</strong> {{data.selectedstock.name}}</p>
                            <p><strong>Descripcion del Stock:</strong> {{data.selectedstock.description}}</p>
                            <p><strong>Valor del Stock:</strong> {{data.selectedstock.value}}</p>
                            <p><strong>Compañia:</strong> {{data.selectedstock.company}}</p>
                            <p><strong>Cantidad disponible:</strong> {{data.selectedstock.inStorage}}</p>
                            <p><strong>Fecha de expiración del contrato:</strong> {{data.historyContract.expirationDate}}</p>
                            <p><strong>Tipo de contrato:</strong> {{data.historyContract.type}}</p>
                            <p><strong>Cantidad a comprar/vender:</strong> {{data.historyContract.amount}}</p>
                            <input type="hidden" name="stockid" value="{{data.historyContract.stock}}">
                            <input type="hidden" name="amount" value="{{data.historyContract.amount}}">
                            <input type="hidden" name="investorid" value="{{data.historyContract.investorDTO.id}}">
                    </div>
                </div>
            </div>
        {{/if}}
        </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();
    const company = '{{data.selectedstock.company}}';
    const cantidad = '{{data.selectedContract.amount}}';
    const type = '{{data.selectedContract.type}}';
    const value = '{{data.selectedstock.value}}';
    // Obtener el botón por su id y agregarle un evento de clic
    document.getElementById('botonEvento').addEventListener('click', async (event) => {
        
        let mensaje_data = 'Tipo: '+ type+', Cantidad: '+cantidad+', Valor:'+value+', Compañia: '+company;
        const data = { mensaje:mensaje_data };
        
        // Emitir el evento al servidor con los datos
        socket.emit('evento_cliente', data);
    });
</script>

</body>