<style>
    /* Definimos las variables para los colores */
    :root {
        --primary-color: #ff6600; /* Naranja */
        --secondary-color: #f5f1f1; /* Blanco */
        --highlight-color: #ff9900; /* Un tono más claro de naranja para destacar */
        --background-color: #f5f1f1;
        --card-body-background: #d8d4d4; /* Blanco para el fondo de las tarjetas */
        --list-group-background: #f5f1f1; /* Blanco para el fondo de la lista */
        --list-group-item-background: #f5f1f1; /* Un gris muy claro para los elementos de la lista */
        --list-group-item-hover: #e0dbdb; /* Un gris claro para el hover de los elementos de la lista */
        --input-border-color: #ff6600; /* Color del borde de los inputs */
    }

    body {
        background-color: var(--background-color);
    }

    .card {
        background-color: var(--card-body-background);
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    }

  
    .form-control:focus, .form-select:focus {
        border-color: var(--highlight-color); /* Cambia el color del borde al hacer foco */
        box-shadow: 0 0 5px rgba(255, 102, 0, 0.5); /* Sombra al foco */
    }

    label, .form-control {
    color: #706f6f; /* Cambia el color a un tono más oscuro (puedes ajustar el valor) */
}

    .btn-primary {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .btn-primary:hover {
        background-color: var(--highlight-color);
    }

    .form-select-container, .form-group {
        background-color: #d8d4d4; /* Cambia a blanco para que contraste */
    }

    /* Media queries para ajustar el padding en pantallas pequeñas */
    @media (max-width: 576px) {
        .card {
            padding: 2rem; /* Reduce el padding en pantallas pequeñas */
        }
    }
</style>

<body class="d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow" style="width: 100%; max-width: 1000px;">
        <div style="background-color: #ff6600; color: white; text-align: center; padding: 1rem;">
            <h3 class="card-title mb-0">Andina Trading  <br> Creación de Contrato</h3>
        </div>
        <br>


        <form action="{{#unless data.user.id}}/api/contractCreat/creacionContrato{{else}}/api/contractCreat/creacionContrato/{{data.user.id}}{{/unless}}"
            method="POST">

            <div class="form-select-container mb-3">
                <select class="form-select" name="mostrar" required>
                    <option selected disabled>Seleccione un comisionista</option>
                    {{#each data.houses}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>

            <!-- Datos del Inversionista -->
            <div class="form-group mb-3">
                {{#if data.investorData.name}}
                <label for="name">Nombre del Inversionista:</label>
                <input type="text" id="name" name="name" value="{{data.investorData.name}}" class="form-control" disabled>
                {{else}}
                <label for="name">Nombre del Inversionista:</label>
                <input type="text" id="name" name="name" class="form-control" required>
                {{/if}}
            </div>

            <div class="form-group mb-3">
                {{#if data.userData.gmail}}
                <label for="gmail">Correo Electrónico (Gmail):</label>
                <input type="email" id="gmail" name="gmail" value="{{data.userData.gmail}}" class="form-control" disabled>
                {{else}}
                <label for="gmail">Correo Electrónico (Gmail):</label>
                <input type="email" id="gmail" name="gmail" class="form-control" required>
                {{/if}}
            </div>

            <div class="form-group mb-3">
                {{#if data.investorData.address}}
                <label for="address">Dirección:</label>
                <input type="text" id="address" name="address" value="{{data.investorData.address}}" class="form-control" disabled>
                {{else}}
                <label for="address">Dirección:</label>
                <input type="text" id="address" name="address" class="form-control" required>
                {{/if}}
            </div>

            <div class="form-group mb-3">
                {{#if data.investorData.phone}}
                <label for="phone">Teléfono:</label>
                <input type="number" id="phone" name="phone" value="{{data.investorData.phone}}" class="form-control" disabled>
                {{else}}
                <label for="phone">Teléfono:</label>
                <input type="number" id="phone" name="phone" class="form-control" required>
                {{/if}}
            </div>

            <div class="form-group mb-3">
                {{#if data.investorData.investmentCapacity}}
                <label for="investmentCapacity">Capacidad de Inversión:</label>
                <input type="number" id="investmentCapacity" name="investmentCapacity" value="{{data.investorData.investmentCapacity}}" class="form-control" disabled>
                {{else}}
                <label for="investmentCapacity">Capacidad de Inversión:</label>
                <input type="number" id="investmentCapacity" name="investmentCapacity" class="form-control" required>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="id" class="form-label">ID de la acción</label>
                <input type="text" class="form-control" id="id" name="idaccion" value="{{data.selectedStock.id}}" required readonly>
            </div>

            <div class="form-group mb-3">
                <label for="stock">Acciones o Producto de Interés:</label>
                <input type="text" id="stock" value="{{data.selectedStock.name}}" name="stock" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label for="phone">Monto:</label>
                <input type="number" id="amount" name="amount" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label for="tipo">Tipo:</label>
                <input type="text" id="type" name="type" class="form-control" value="Comprar" required readonly>
            </div>

            <div class="form-group mb-3">
                <label for="expirationDate">Fecha de Expiración del Contrato:</label>
                <input type="date" id="expirationDate" name="expirationDate" class="form-control" required readonly>
            </div>

            <script>
                // Obtener la fecha actual
                const today = new Date();

                // Sumar tres meses
                today.setMonth(today.getMonth() + 3);

                // Formatear la fecha en el formato AAAA-MM-DD
                const formattedDate = today.toISOString().split('T')[0];

                // Establecer la fecha calculada como el valor del campo
                document.getElementById('expirationDate').value = formattedDate;
            </script>

            <div class="form-group mb-4">
                <label for="terms">Términos y Condiciones:</label>
                <textarea id="terms" name="terms" class="form-control" rows="3" required readonly>Al generar este contrato aceptas los términos y condiciones.</textarea>
            </div>

            <!-- Botón de Envío -->
            <button type="submit" class="btn btn-primary w-100">Crear Contrato</button>
        </form>
    </div>

</body>
