
<div class="container my-4">
    <h2 class="text-center">Módulo de Consolidación de Información</h2>
    

        {{#unless data.user.id}}
        <div class="col text-end">
            <a href="/lg" class="btn btn-outline-secondary">Login</a>
        </div>
        {{else}}

        <form action="/backtomenu/{{data.user.id}}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary w-100">Volver</button>
        </form>
        {{/unless}}

    <!-- Filtros de búsqueda -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Filtros de Búsqueda</h5>
            <form action="/api/sixthmodule/confirmarinformacionbursatil/{{data.user.id}}" method="post" class="form-row">
                <div class="form-group col-md-3">
                    <label for="localizacion">Localización</label>
                    <select name="localizacion" id="localizacion" class="form-control">
                        <option selected disabled>Seleccione una localización</option>
                        {{#each data.countries}}
                        <option value="{{this.id}}">{{this.countryName}}, {{this.cityName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="tipoInversionista">Tipo de Inversionista</label>
                    <select name="tipoInversionista" id="tipoInversionista" class="form-control">
                    <option selected disabled>Seleccione un tipo</option>
                        <option value="Low">Low</option>
                        <option value="Individual">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
                <div class="form-group col-md-12 text-right">
                    <button type="submit" class="btn btn-primary mt-2" >Consolidar Información</button>
                </div>
            </form>
        </div>
    </div>

{{#if data.trandingsWithCountry}}
    <!-- Resultados de la consolidación -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Resultados de la Consolidación</h5>
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Comisionista</th>
                        <th>Inversionista</th>
                        <th>Localización</th>
                        <th>Nombre de la Acción</th>
                        <th>Valor de Acción</th>
                        <th>Situación Financiera</th>
                        <th>Comisiones Recibidas</th>
                        <th>Tipo de inversionista</th>
                    </tr>
                </thead>
                <tbody id="consolidacionResultados">
                        {{#each data.trandingsWithCountry}}
                <tr>
                    <td>{{securityHouseDTO.name}}</td>
                    <td>{{investorDTO.name}}</td>
                    <td>{{country.countryName}}, {{country.cityName}}</td>
                    <td>{{stock.name}}</td>
                    <td>{{stock.value}}</td>
                    <td>{{country.economicSituation}}</td>
                    <td>{{securityHouseDTO.earnings}}</td>
                    <td>{{investorDTO.riskProfile}}</td>
                </tr>
                        {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/if}}

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
